body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#wrapper {
  position: relative;
}

#canv {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#main {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

img.rang_img {
  position: absolute;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;  
}
